*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: white;
    --color-title: white;

    --color-link-header: #20212b;
    
    --color-buttons: rgb(227, 227, 0);
    --color-border-button: yellow;
    --color-hand-carousel: black;
    
    --color-content: #e4e4e4;
    --color-word-content: #686868;
    
    --color-backgroud-warning: rgb(155, 63, 63);
    --color-title-warning: white;
    --color-word-warning: rgba(255, 255, 255, 0.759);

    --color-backgroud-certificate: rgb(79, 165, 79);
    --color-word-certificate: white;

    --color-backgroud-footer: #202020;
    --color-word-footer: #b5b5b5;
    --color-link-footer: rgb(93, 0, 93);

    --spacing-xsmall: 5px;
    --spacing-small: 10px;
    --spacing-default: 15px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-xlarge: 50px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding-right: var(--spacing-default);
    padding-left: var(--spacing-default);
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}
    .icon{
        display: flex;
        align-items: center;
        margin-left: 150px;
        margin-right: 100px;
    }
        .icon p{
            margin-left: 5px;
            font-family: 'Rubik Puddles', cursive;;
            font-size: 20px;
            color: rgb(52, 113, 52);
        }
            .icon img{
                max-width: 100%;
                width: 75px;
                height: auto;
                margin-bottom: 15px;
            }
                .menu ul{
                    margin: 0;
                    padding-left: 0;
                    list-style: none;
                    margin-right: 100px;
                }
                    .menu ul li{
                        display: inline-block;
                        position: relative;
                    }
                        .menu ul li > a{
                            display: block;
                            font-size:var(--spacing-default);
                            letter-spacing: 0;
                            font-weight: 600;
                            color: #20212b;
                            padding: 0 var(--spacing-default);
                            height: 80px;
                            line-height: 80px;
                            text-decoration: none;
                            cursor: pointer;
                        }
                            .button-menu button{
                                font-size: var(--spacing-default);
                                background-color: rgb(31, 159, 19);
                                border: 1px solid yellow;
                                border-radius: var(--spacing-small);
                                width: 150px;
                                margin-right: 100px;
                                height: 55px;
                                cursor: pointer;
                            }
                                .button-menu a{
                                    color: white;
                                    text-decoration: none;
                                    font-family:sans-serif;
                                    font-weight: bold;
                                }
                            
    .dropdown {
        display: none;
    }

    .carousel {
    position: relative;
    width: 100%;
    height: 790px;
    overflow: hidden;
    border: 2px solid #686868;
}
    .carousel-inner {
        display: flex;
        transition: transform 1s ease;
    }
        .carousel-inner img {
            width: 100%;
            height: 790px;
            object-fit: cover;
        }
            .carousel-prev,
            .carousel-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: black;
                border-radius: 100%;
                color: white;
                padding: var(--spacing-small);
                cursor: pointer;
            }
                .carousel-prev {
                    left: var(--spacing-small);
                }
                    .carousel-next {
                        right: var(--spacing-small);
                    }

.agricultura-sustentavel{
    width: 100%;
    background-color: #e4e4e4;
    height: 600px;
}
    .agricultura-img{
        padding: 50px;
        margin-left: 400px;
        margin-right: 400px;
        display: flex;
        align-items: center;
    }
        .agricultura-img img{
            max-width: 100%;
            height: 500px;
            border: 2px solid #686868;
        }
            .agricultura-img h1{
                font-size: 32px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
                color: black;
                padding-bottom: var(--spacing-large);
            }
                .agricultura-img p{
                    font-size: 23px;
                    font-family: 'Lato', sans-serif;
                    text-align: center;
                    color: #484848;
                }
                    .agricultura-img a{
                        text-decoration: none;
                        color: rgb(31, 159, 19);
                    }
                
.section-estatisticas{
    background-color: rgb(31, 159, 19);
    color: white;
    height: 150px;
    width: 100%;
    font-size: var(--spacing-medium);
}
    .menu-estatisticas{
        display: flex;
        text-align: center;
        float: right;
        margin-right: 650px;
        padding-top: 50px;
    }
        .menu-estatisticas h1{
            font-size: 25px;
        }
            .primeira-estatistica p{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.759);
                line-height: 1;
            }
                .segunda-estatistica{
                    padding-left: 50px;
                }
                    .segunda-estatistica p{
                        font-size: 15px;
                        color: rgba(255, 255, 255, 0.759);
                        line-height: 1;
                    }
                        .terceira-estatistica{
                            padding-left: 50px;
                        }
                            .terceira-estatistica p{
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.759);
                                line-height: 1;
                            }

.inteligencia-artificial{
    width: 100%;
    background-color: #e4e4e4;
    height: 600px;
}
    .artificial-img{
        padding: 50px;
        margin-left: 400px;
        margin-right: 400px;
        display: flex;
        align-items: center;
    }
        .artificial-img img{
            max-width: 100%;
            height: 500px;
            border: 2px solid #686868;
        }
            .artificial-img h1{
                font-size: 32px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
                color: black;
                padding-bottom: var(--spacing-large);
            }
                .artificial-img p{
                    font-size: 23px;
                    font-family: 'Lato', sans-serif;
                    text-align: center;
                    color: #484848;
                }
                    .artificial-img a{
                        text-decoration: none;
                        color: rgb(31, 159, 19);
                    }
                                                

.footer-informacoes{
    background-color: #202020;
    display: flex;
    height: 250px;
    font-family: sans-serif;
    width: 100%;
    font-size: var(--spacing-default);
}

.footer-redes{
    margin-left: 100px;
    padding-top: 70px;
}
    .footer-redes ul{
        list-style: none;
        font-size: 18px;
        color: white;
    }
        .footer-redes ul li{
            padding-top: var(--spacing-xsmall);
        }
            .footer-redes button{
                background-color: #202020;
                border: 0;
                cursor: pointer;
                margin-top: 6px;
            }
                .footer-redes button img{
                    max-width: 100%;
                    width: var(--spacing-large);
                }

.footer-contatos{
    margin-left: var(--spacing-xlarge);
    padding-top: 70px;
}
    .lista-contatos {
        font-size: 18px;
        color: white;
    }
        .lista-contatos li {
        display: flex;
        align-items: center;
        margin-bottom: var(--spacing-small);
        padding-top: 8px;
        }
            .lista-contatos li img {
            max-width: 100%;
            width: var(--spacing-large);
            margin-right: var(--spacing-small);
            }
                .texto-contatos {
                font-size: var(--spacing-default);
                color: #b5b5b5;
                }

.footer-links{
    margin-left: var(--spacing-xlarge);
    padding-top: 70px;
    width: 220px;
}
    .footer-links ul{
        list-style: none;
        color: white;
        font-size: 18px;
    }
        .footer-links ul li{
            color: #b5b5b5;
            margin-top: 6px;
            cursor: pointer;
            font-size: var(--spacing-default);
            padding-top: var(--spacing-xsmall);
        }
            .footer-links ul li a{
                text-decoration: none;
                color: #b5b5b5;
            }

.footer-informacoes .footer-texto{
    margin-left: 100px;
}
.footer-texto{
    padding-top: 35px;
    padding-left: 300px;
    color: #b5b5b5;
    display: block;
    white-space: pre-line;  
    float: right;
}
        .link-texto{
            text-align: center;
            margin-top: var(--spacing-small);
        }
            .link-texto button{
                background-color: rgb(31, 159, 19);
                padding: var(--spacing-small);
                border-radius: var(--spacing-xsmall);
                border: 0;
                cursor: pointer;
            }
                .link-texto a{
                    color: white;
                    text-decoration: none;
                    height: var(--spacing-xlarge);
                }

.icon-fim{
    background-color: #202020;
    width: 100%;
    padding: var(--spacing-small);
}
    .icon-fim img{
        max-width: 100%;
        width: 60px;
        height: auto;
        margin-left: 49%;
        background-color: white;
        border-radius: 100%;
        padding: 2px;
    }
        .icon-fim .footerInfo{
            margin-top: var(--spacing-large);
        }
                .icon-fim .nomes, .footerInfo{
                    margin-left: 90px;
                    color: #b5b5b5;
                }
                    .icon-fim .footerInfo{
                        margin-bottom: var(--spacing-xsmall);
                        color: white;
                    }
    
    @media (min-width:768px) and (max-width:1023px){

    .container{
        padding: 0;
        border-bottom: 1px solid #484848;
    }
    .menu{
        display: none;
    }
    .icon {
        margin-left: 5px;
    }
        .icon p{
            font-size: 18px;
            width: 150px;
        }
            .icon img{
                width: 60px;
                margin-bottom: 0;
            }

    .button-menu button{
        font-size: 13px;
        width: 120px;
        height: 50px;
        margin-right: 10px;
    }

    .carousel {
        position: relative;
        width: 100%;
        height: 350px;
    }
        .carousel-inner {
            width: 100%;
        }
            .carousel-inner img {
                height: 350px;
            }
                .carousel-prev,
                .carousel-next {
                    display: none;
                }

    .agricultura-sustentavel{
        width: 100%;
        height: 500px;
    }
        .agricultura-img{
            padding: 50px;
            margin-left: 10px;
            margin-right: 10px;
        }
            .agricultura-img img{
                width: 300px;
                height: auto;
            }
                .agricultura-img h1{
                    font-size: 25px;
                    padding-bottom: var(--spacing-default);
                    padding-left: 10px;
                }
                    .agricultura-img p{
                        font-size: 21px;
                        padding-left: 10px;
                    }
                        .agricultura-img a{
                            text-decoration: none;
                            color: rgb(31, 159, 19);
                        }
    
    .section-estatisticas{
        height: 110px;
        width: 100%;
    }
        .menu-estatisticas{
            margin-right: 50px;
            padding-top: 25px;
        }
            .menu-estatisticas h1{
                font-size: 19px;
            }
                .primeira-estatistica{
                    padding-left: 35px;
                }
                    .primeira-estatistica p{
                        font-size: 12px;
                        padding-top: 5px;
                        line-height: 0.9;
                    }
                        .segunda-estatistica{
                            padding-left: 50px;
                        }
                            .segunda-estatistica p{
                                font-size: 12px;
                                padding-top: 5px;
                                line-height: 0.9;
                            }
                                .terceira-estatistica{
                                    padding-left: 50px;
                                }
                                    .terceira-estatistica p{
                                        font-size: 12px;
                                        padding-top: 5px;
                                        line-height: 0.9;
                                    }

    .inteligencia-artificial{
        width: 100%;
        height: 500px;
    }
        .artificial-img{
            padding: 50px;
            margin-left: 10px;
            margin-right: 10px;
        }
            .artificial-img img{
                width: 300px;
                height: auto;
            }
                .artificial-img h1{
                    font-size: 25px;
                    padding-bottom: var(--spacing-default);
                    padding-left: 10px;
                }
                    .artificial-img p{
                        font-size: 21px;
                        padding-left: 10px;
                    }
                        .artificial-img a{
                            text-decoration: none;
                            color: rgb(31, 159, 19);
                        }

    .footer-redes{
        margin-left: 30px;
    }
        .footer-redes ul{
            font-size: 16px;
        }

    .footer-contatos{
        margin-left: var(--spacing-large);
        padding-top: 70px;
    }
        .lista-contatos {
            font-size: 16px;
            color: white;
        }

    .footer-links{
        display: none;
    }

    .footer-texto{
        padding-left: 30px; 
    }
        .link-texto{
            text-align: center;
            margin-top: var(--spacing-small);
        }
            .link-texto button{
                background-color: rgb(31, 159, 19);
                padding: var(--spacing-small);
                border-radius: var(--spacing-xsmall);
                border: 0;
                cursor: pointer;
            }
                .link-texto a{
                    color: white;
                    text-decoration: none;
                    height: var(--spacing-xlarge);
                }
    

    .icon-fim img{
        width: 50px;
        margin-left: 47%;
    }
        .icon-fim .footerInfo{
            margin-top: var(--spacing-xsmall);
        }
                .icon-fim .nomes, .footerInfo{
                    margin-left: 20px;
                }
    }

    @media (min-width:375px) and (max-width:767px){

    .menu ul{
        display: none;
    }

    .icon {
        margin-left: 0;
    }
        .icon p{
            font-size: 13px;
        }
            .icon img{
                width: 35px;
                margin-bottom: 5px;
            }

    .button-menu button{
        font-size: 10px;
        width: 100px;
        height: 40px;
        margin-right: 0;
    }

    .carousel {
        width: 100%;
        height: 300px;
    }
        .carousel-inner {
            width: 100%;
        }
            .carousel-inner img {
                height: 300px;
                width: 374px;
            }
                .carousel-prev,
                .carousel-next {
                    display: none;
                }

    .agricultura-sustentavel{
        width: 100%;
        height: 250px;
    }
        .agricultura-img{
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 10px;
        }
            .agricultura-img img{
                width: 180px;
                height: auto;
            }
                .agricultura-img h1{
                    font-size: 15px;
                    padding-bottom: var(--spacing-default);
                }
                    .agricultura-img p{
                        font-size: 12px;
                    }
    
.section-estatisticas{
    height: 110px;
    width: 100%;
}
    .menu-estatisticas{
        margin-right: 0;
        padding-top: 15px;
    }
        .menu-estatisticas h1{
            font-size: 13px;
        }
            .primeira-estatistica{
                padding-left: 25px;
            }
                .primeira-estatistica p{
                    font-size: 12px;
                    padding-top: 5px;
                    line-height: 0.9;
                }
                    .segunda-estatistica{
                        padding-left: 25px;
                    }
                        .segunda-estatistica p{
                            font-size: 12px;
                            padding-top: 5px;
                            line-height: 0.9;
                        }
                            .terceira-estatistica{
                                padding-left: 25px;
                            }
                                .terceira-estatistica p{
                                    font-size: 12px;
                                    padding-top: 5px;
                                    line-height: 0.9;
                                }

    .inteligencia-artificial{
        width: 100%;
        height: 250px;
    }
        .artificial-img{
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 10px;
        }
            .artificial-img img{
                width: 180px;
                height: auto;
            }
                .artificial-img h1{
                    font-size: 15px;
                    padding-bottom: var(--spacing-default);
                }
                    .artificial-img p{
                        font-size: 12px;
                    }
                        .artificial-img a{
                            text-decoration: none;
                            color: rgb(31, 159, 19);
                        }    
    .footer-redes{
        margin-left: 30px;
    }
        .footer-redes ul{
            font-size: 15px;
        }

    .footer-contatos{
        margin-left: var(--spacing-large);
        padding-top: 70px;
    }
        .lista-contatos {
            font-size: 15px;
            color: white;
        }

    .footer-links{
        display: none;
    }

    .footer-texto{
        display: none;
    } 

    .icon-fim img{
        width: 40px;
        margin-left: 44%;
    }
        .icon-fim .footerInfo{
            margin-top: var(--spacing-xsmall);
            font-size: 14px;
        }
            .icon-fim .nomes, .footerInfo{
                margin-left: 20px;
                margin-bottom: 10px;
            }
                .icon-fim .nomes{
                    font-size: 13px;
                }
    }
    
