*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: white;
    --color-title: white;

    --color-link-header: #20212b;
    
    --color-buttons: rgb(227, 227, 0);
    --color-border-button: yellow;
    --color-hand-carousel: black;
    
    --color-content: #e4e4e4;
    --color-word-content: #686868;
    
    --color-backgroud-warning: rgb(155, 63, 63);
    --color-title-warning: white;
    --color-word-warning: rgba(255, 255, 255, 0.759);

    --color-backgroud-certificate: rgb(79, 165, 79);
    --color-word-certificate: white;

    --color-backgroud-footer: #202020;
    --color-word-footer: #b5b5b5;
    --color-link-footer: rgb(93, 0, 93);

    --spacing-xsmall: 5px;
    --spacing-small: 10px;
    --spacing-default: 15px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-xlarge: 50px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding-right: var(--spacing-default);
    padding-left: var(--spacing-default);
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #686868;
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
    .icon {
        margin-left: 200px;
        display: flex;
        align-items: center;
    }
        .icon p{
            margin-top: 5px;
            margin-left: 5px;
            font-family: sans-serif;
            font-weight: bold;
        }
            .icon img{
                max-width: 100%;
                width: 75px;
                height: auto;
                margin-bottom: 15px;
            }
                    .menu ul{
                        margin: 0;
                        padding-left: 0;
                        list-style: none;
                    }
                        .menu ul li{
                            display: inline-block;
                            position: relative;
                        }
                            .menu ul li > a{
                                display: block;
                                font-size:var(--spacing-default);
                                letter-spacing: 0;
                                font-weight: 600;
                                color: #20212b;
                                padding: 0 var(--spacing-default);
                                height: 80px;
                                line-height: 80px;
                                text-decoration: none;
                                cursor: pointer;
                            }
                                .button-menu button{
                                    font-size: var(--spacing-default);
                                    background-color: rgb(31, 159, 19);
                                    border: 1px solid yellow;
                                    border-radius: var(--spacing-small);
                                    width: 150px;
                                    height: 55px;
                                    margin-right: 200px;
                                    cursor: pointer;
                                }
                                    .button-menu a{
                                        color: white;
                                        text-decoration: none;
                                        font-family:sans-serif;
                                        font-weight: bold;
                                    }

.primeira-informacao{
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    height: 600px;
    padding-top: var(--spacing-xlarge);
    border-bottom: 2px solid #686868;
}
    .primeira-img img{
        max-width: 100%;
        margin-left: 500px;
        float: right;
        height: 500px;
        border: 2px solid #686868;
    }
        .primeira-img{
            margin-right: 550px;
        }
            .primeira-text{
                float: left;
                padding-top: 170px;
                margin-left: 400px;
            }
                .primeira-text h1{
                    font-size: 32px;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: black;
                    text-align: center;
                    padding-bottom: var(--spacing-default);
                }
                    .primeira-text p{
                        font-size: 23px;
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        color: #484848;
                    }

.section-estatisticas{
    background-color: rgb(31, 159, 19);
    color: white;
    height: 150px;
    width: 100%;
    font-size: var(--spacing-medium);
}
    .menu-estatisticas{
        display: flex;
        text-align: center;
        padding: var(--spacing-xlarge) 0 0 550px;
    }
        .menu-estatisticas h1{
            font-size: 25px;
        }
            .primeira-estatistica{
                padding-right: 70px;
            }
                .primeira-estatistica p{
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.759);
                    line-height: 1;
                }
                    .segunda-estatistica{
                        padding-right: 70px;
                    }
                        .segunda-estatistica p{
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.759);
                            line-height: 1;
                        }
                            .terceira-estatistica p{
                                font-size: 14px;
                                color: rgba(255, 255, 255, 0.759);
                                line-height: 1;
                            }
                    
     
.segunda-informacao{
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    height: 600px;
    padding-top: var(--spacing-xlarge);
    border-top: 2px solid #686868;
}
    .segunda-img img{
        max-width: 100%;
        margin-left: 440px;
        float: left;
        height: 500px;
        border: 2px solid #686868;
    }
        .segunda-text h1{
            font-size: 32px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            color: black;
            padding-top: 120px;
            padding-bottom: var(--spacing-large);
            padding-left: 430px;
            padding-right: 430px;
        }
            .segunda-text p{
                font-size: 23px;
                font-family: 'Lato', sans-serif;
                text-align: center;
                color: #484848;
                padding-left: 430px;
                padding-right: 430px;
            }
            .segunda-link p{
                padding-top: var(--spacing-medium);
            }

                                            

.carousel {
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #e4e4e4;
    border: 2px solid #b5b5b5;
    margin-top: 30px;
    margin-bottom: 30px;
}
    .carousel p{
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
        .carousel-inner {
            display: flex;
            transition: transform 1s ease;
            padding-top: 20px;
        }
            .carousel-inner a{
                margin-left: 40px;
                margin-right: 40px;
                width: 100%;
            }
                .carousel-inner img {
                    width: 100%;
                    height: 130px;
                    object-fit: cover;
                    border: 2px solid #686868;
                    background-color: white;
                }
              
                        

.footer-informacoes{
    background-color: #202020;
    display: flex;
    height: 250px;
    font-family: sans-serif;
    width: 100%;
    font-size: var(--spacing-default);
}

.footer-redes{
    margin-left: 100px;
    padding-top: 70px;
}
    .footer-redes ul{
        list-style: none;
        font-size: 18px;
        color: white;
    }
        .footer-redes ul li{
            padding-top: var(--spacing-xsmall);
        }
            .footer-redes button{
                background-color: #202020;
                border: 0;
                cursor: pointer;
                margin-top: 6px;
            }
                .footer-redes button img{
                    max-width: 100%;
                    width: var(--spacing-large);
                }

.footer-contatos{
    margin-left: var(--spacing-xlarge);
    padding-top: 70px;
}
    .lista-contatos {
        font-size: 18px;
        color: white;
    }
        .lista-contatos li {
        display: flex;
        align-items: center;
        margin-bottom: var(--spacing-small);
        padding-top: 8px;
        }
            .lista-contatos li img {
            max-width: 100%;
            width: var(--spacing-large);
            margin-right: var(--spacing-small);
            }
                .texto-contatos {
                font-size: var(--spacing-default);
                color: #b5b5b5;
                }

.footer-links{
    margin-left: var(--spacing-xlarge);
    padding-top: 70px;
    width: 220px;
}
    .footer-links ul{
        list-style: none;
        color: white;
        font-size: 18px;
    }
        .footer-links ul li{
            color: #b5b5b5;
            margin-top: 6px;
            cursor: pointer;
            font-size: var(--spacing-default);
            padding-top: var(--spacing-xsmall);
        }

.footer-texto{
    margin-left: auto;
    margin-right: var(--spacing-xlarge);
    padding-top: 35px;
    color: #b5b5b5;
    white-space: pre-line;   
}
    .link-texto{
        text-align: center;
        margin-top: var(--spacing-small);
    }
        .link-texto button{
            background-color: rgb(31, 159, 19);
            padding: var(--spacing-small);
            border-radius: var(--spacing-xsmall);
            border: 0;
            cursor: pointer;
        }
            .link-texto a{
                color: white;
                text-decoration: none;
                height: var(--spacing-xlarge);
            }

.icon-fim{
    background-color: #202020;
    width: 100%;
    padding: var(--spacing-small);
}
    .icon-fim img{
        max-width: 100%;
        width: 60px;
        height: auto;
        margin-left: 49%;
        border: 2px solid white;
        background-color: white;
        border-radius: 100%;
        padding: 2px;
    }
        .icon-fim .footerInfo{
            margin-top: var(--spacing-large);
        }
                .icon-fim .nomes, .footerInfo{
                    margin-left: 90px;
                    color: #b5b5b5;
                }
                    .icon-fim .footerInfo{
                        margin-bottom: var(--spacing-xsmall);
                        color: white;
                    }