*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: white;
    --color-title: white;

    --color-link-header: #20212b;
    
    --color-buttons: rgb(227, 227, 0);
    --color-border-button: yellow;
    --color-hand-carousel: black;
    
    --color-content: #e4e4e4;
    --color-word-content: #686868;
    
    --color-backgroud-warning: rgb(155, 63, 63);
    --color-title-warning: white;
    --color-word-warning: rgba(255, 255, 255, 0.759);

    --color-backgroud-certificate: rgb(79, 165, 79);
    --color-word-certificate: white;

    --color-backgroud-footer: #202020;
    --color-word-footer: #b5b5b5;
    --color-link-footer: rgb(93, 0, 93);

    --spacing-xsmall: 5px;
    --spacing-small: 10px;
    --spacing-default: 15px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-xlarge: 50px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    padding-right: var(--spacing-default);
    padding-left: var(--spacing-default);
    margin-right: auto;
    margin-left: auto;
}

.itens-header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
    .icon {
        margin-left: 300px;
    }
        .icon img{
            max-width: 100%;
            width: 75px;
            height: auto;
        }
            .menu{
                margin-left: 150px;
            }
                .menu ul{
                    margin: 0;
                    padding-left: 0;
                    list-style: none;
                }
                    .menu ul li{
                        display: inline-block;
                        position: relative;
                    }
                        .menu ul li > a{
                            display: block;
                            font-size:var(--spacing-default);
                            letter-spacing: 0;
                            font-weight: 600;
                            color: #20212b;
                            padding: 0 var(--spacing-default);
                            height: 80px;
                            line-height: 80px;
                            text-decoration: none;
                            cursor: pointer;
                        }
                            .button-menu button{
                                font-size: var(--spacing-default);
                                background-color: rgb(31, 159, 19);
                                border: 1px solid yellow;
                                border-radius: var(--spacing-small);
                                width: 150px;
                                height: 55px;
                                margin-right: 200px;
                                cursor: pointer;
                            }
                                .button-menu a{
                                    color: white;
                                    text-decoration: none;
                                    font-family:sans-serif;
                                    font-weight: bold;
                                }
